@*The point of this is to contain a button that will say Back to List*@
<a type="button" class="btn btn-primary btn-sm""
   href="@Url.Action("Index")">
    <span class="glyphicon glyphicon-list"></span>
    <span>Back to List</span>
</a>
