@*The point of this is to contain a button that will say Create*@
<a type="button" class="btn btn-primary btn-sm"
   href="@Url.Action("Create")">
    <span class="glyphicon glyphicon-plus"></span>
    <span>Create</span>
</a>
