@model Memberships.Areas.Admin.Models.EditButtonModel

@*The point of this is to contain a button that will say Edit*@
<a type="button" class="btn btn-primary btn-sm" 
   href="@Url.Action("Edit")@Model.Link">
    <span class="glyphicon glyphicon-edit"></span>
    <span>Edit</span>
</a>

